body {
    background-image: url('../../assets/pictures/charon_fleet.jpg');
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}