<header>
    <div class="header-container">
        <div class="eve_logo" >
            <a href="https://www.eveonline.com/fr">
                <img class="eve_logo__picture" src="../../assets/pictures/eve_online_logo_white.png" alt="eve_online_link">
            </a>
        </div>
        <div class="header-container__content">
            @if (headerType === "headerLanding") {
                <app-start-head></app-start-head>
            }
            @if (headerType === "headerMain") {
                <app-main-head></app-main-head>
            }
            
        </div>
    </div>
    
</header>
