<div class="landing-section-password">
    <form class="landing-section-password__form" method="get" action="">
        <div class="landing-form-title">CONNECTION</div>
        <p class="landing-form-question">
            <label class="landing-form-question__label">EMAIL</label>
            <input type="email" class="landing-form-question__area">
        </p>
        <p class="landing-form-question">
            <label class="landing-form-question__label">PASSWORD</label>
            <input type="password" class="landing-form-question__area">
        </p>
        <div class="landing-form-sub">
            <input type="submit" class="landing-form-sending" value="">
        </div>
    </form>
</div>
