.landing-section-password {

    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        width: 50%;
    }

    .landing-form-title {
        font-size: 3em;
        margin-bottom: 1em;
        text-align: center;
    }

    .landing-form-question {
        display: flex;
        flex-direction: column;

        &__label {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }

        &__area {
            color: white;
            font-size: 1em;
            background-color: rgba(66, 66, 66, 0.4);
            padding: 1em;
            border-radius: 12px;
            border-color: aqua;
            margin-bottom: 1em;
        }
    }

    .landing-form-sub {
        display: flex;
        height: 20%;
        padding: 1em;
        align-items: end;
        justify-content: center;
    }

    .landing-form-sending {
        background-image: url('../../assets/pictures/2_64_7.png');
        width: 17%;
        height: 72%;
        background-color: rgba(66, 66, 66, 0.2);
        padding: 1em;
        border-radius: 12px;
        border-color: aqua;
        margin-bottom: 1em;
        align-items: center;
    }

}