<div class="landing-section-password">
    <form class="landing-section-password__form" (ngSubmit)="onPasswordSubmit()">
        <div class="landing-form-title">CONNECTION</div>
        <p class="landing-form-question">
            <label class="landing-form-question__label">EMAIL</label>
            <input type="email" class="landing-form-question__area" name="email-connection" [(ngModel)]="email">
        </p>
        <p class="landing-form-question">
            <label class="landing-form-question__label">PASSWORD</label>
            <input type="password" class="landing-form-question__area" name="password-connection" [(ngModel)]="password">
        </p>
        <div class="landing-form-sub">
            <input type="submit" class="landing-form-sending" value="">
        </div>
    </form>
</div>
